@import url("https://fonts.googleapis.com/css?family=Calistoga|Open+Sans&display=swap");

:root {
  --f-special: "Calistoga", cursive;
  --f-default: "Open Sans", sans-serif;
  --c-main: #ffd700;
  --c-secondary: #ff9305;
  --c-accent: #ae9670;
  --c-neutral-light: #dedede;
  --c-neutral-mid-light: #a9a9a9;
  --c-neutral-mid-dark: #545454;
  --c-neutral-dark: #333;
  --c-shadow: #d0b78f;
  --border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: var(--f-default);
  color: var(--c-neutral-dark);
  line-height: 1.45;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.9rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

/*dodaje tu klasę ogólną container, żeby smy mieli spójne szerokości maxymalne */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.search-results {
}

.search-results__item {
  margin: 10px 0; 
  list-style-type: none;
  border: 3px solid var(--c-accent);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.search-results__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 100%;
  background-color: var(--c-main);
}

.search-results__img {

}

.search-results__properties {
  padding: 20px;
}

.search-results__title {
  text-shadow: -2px 2px 1px var(--c-shadow);
}

.search-results__tagline {
  color: var(--c-secondary);
}

.search-results__abv, .search-results__ibu {
  color: var(--c-secondary);
}

.search-results__food {

}

.search-results__food-title {

}

.search-results__food-list {

}

.search-results__food-list-item {

}

@media (min-width: 600px) {
  .search-results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .search-results__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
