@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Open+Sans:400,400i&display=swap');

:root {
  --f-special: "Comfortaa", cursive;
  --f-default: "Open Sans", sans-serif;
  --c-main: #ffd700;
  --c-secondary: #ff9305;
  --c-accent: #ae9670;
  --c-neutral-light: #dedede;
  --c-neutral-mid-light: #a9a9a9;
  --c-neutral-mid-dark: #545454;
  --c-neutral-dark: #333;
  --c-shadow: #d0b78f;
  --border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: var(--f-default);
  color: var(--c-neutral-dark);
  line-height: 1.45;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.9rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1024px;
}

/* Header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--c-neutral-dark);
  color: var(--c-neutral-light);
}

/* Header logo */
.header-logo {
  flex: 30%;
}

.header-logo-image {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  padding: 5px;
  background-size: cover;
  background-color: var(--c-neutral-dark);
  background-image: url('../assets/images/beer-img.png');
}

/* Header welcome */
.header-welcome {
  flex: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* Header welcome navigation - general*/
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-inner {
  max-width: 800px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-inner-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  width: 0;
  overflow: hidden; 
  transition: .3s ease-in-out;
}

.nav-inner-items__link {
  font-size: 2rem;
  font-weight: 700;
  margin-right: 10px;
  font-family: var(--f-default);
  color: var(--c-neutral-light);
  text-decoration: none;
}

.nav-inner-items__link:hover {
  text-decoration-color: var(--c-secondary);
  text-decoration-line: underline;
}

/* Header welcome navigation - hamburger menu with animation */
.nav-inner-toggler {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transform: rotate(0deg);
}
 
.nav-inner-toggler__bar {
  display: block;
  position: absolute;
  height: 8px;
  margin-top: 3px;
  width: 100%;
  background-color: var(--c-main);
  border-radius: 3px;
  left: 0;
  transition: .2s ease-in-out;
}

.nav-inner-toggler__bar:nth-child(1) {
  top: 0px;
}

.nav-inner-toggler__bar:nth-child(2) {
  top: 18px;
}

.nav-inner-toggler__bar:nth-child(3) {
  top: 36px;
}

.nav-inner.active .nav-inner-items {
  width: 100%;
}

.nav-inner-toggler.open .nav-inner-toggler__bar:nth-child(1) {
  top: 18px;
  transform: rotate(135deg);
}

.nav-inner-toggler.open .nav-inner-toggler__bar:nth-child(2) {
  opacity: 0;
}

.nav-inner-toggler.open .nav-inner-toggler__bar:nth-child(3) {
  top: 18px;
  transform: rotate(-135deg);
}

/* Show results section */

.search-results__item {
  display: flex;
  flex-direction: row;
  margin: 10px 0; 
  list-style-type: none;
  border: 3px solid var(--c-accent);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.search-results__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 25%;
  box-sizing: border-box;
  padding: 10px 20px;
  background-color: var(--c-main);
}

.search-results__img {
  max-width: 100%;
}

.search-results__properties {
  padding: 20px;
  flex-basis: 75%;
}

.search-results__title {
  display: inline-block;
  border-bottom: 3px solid var(--c-secondary);
  padding: 0 30px 5px 3px;
  margin-bottom: 10px;
  text-shadow: -2px 2px 1px var(--c-shadow);
}

.search-results__tagline {
  color: var(--c-secondary);
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.search-results__description {
  font-size: 1.4rem;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.search-results__abv, .search-results__ibu {
  display: inline-block;
  color: var(--c-secondary);
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.search-results__abv {
  margin-right: 65px;
}

.search-results__food {
  padding: 15px 20px;
  background-color: var(--c-accent);
  color: #fff;
  border-radius: var(--border-radius);
}

.search-results__food-title {
  font-size: 1.3rem;
  display: inline-block;
  position: relative;
  border-bottom: 2px solid #ffff;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.search-results__food-list {
  margin-left: 20px;
}

.search-results__food-list-item {
  font-size: 1.3rem;
}

@media (min-width: 500px) {  
  .search-results__img-wrapper {
    width: 220px;
  }
  
  .search-results__img {
    max-width: 50%;
  }
}

@media (min-width: 760px) {
  .search-results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .search-results__item {
    margin: 10px 0;
    width: 49%;
  }
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-around;
  background-color: var(--c-neutral-dark);
  width: 100%;
  padding: 20px ;
  color: var(--c-neutral-light);
}

.footer-about__message, .footer-media__message {
  margin-bottom: 2px;
  font-size: 1.4rem;
}

/* Footer about */
.footer-about-links {
  font-size: 1.7rem;
  font-weight: 700;
  padding: 0;
}

.footer-about__link {
  margin-right: 15px;
  text-decoration: underline;
  text-decoration-color: var(--c-main);
  color:  var(--c-neutral-light);
}

.footer-about__link:hover {
  color: var(--c-secondary);
}

.footer-about__message span {
  color: var(--c-secondary);
}

.footer-about__icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: var(--c-light);
  border: 2px solid var(--c-main);
  border-radius: 3px;
  font-size: 14px;
  color:  var(--c-neutral-light);
  text-align: center;
  line-height: 25px;
  margin-left: 3px;
}

/* Footer media */
.footer-media {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-media__icon  {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 3px;
  border: 3px solid var(--c-main);
  border-radius: 3px;
  font-size: 20px;
  color:  var(--c-neutral-light);
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
}

.footer-media__icon:hover {
  transform: scale(1.1);
  border-color: var(--c-secondary);
}