@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Open+Sans:400,400i&display=swap');

:root {
  --f-special: "Comfortaa", cursive;
  --f-default: "Open Sans", sans-serif;
  --c-main: #ffd700;
  --c-secondary: #ff9305;
  --c-accent: #ae9670;
  --c-neutral-light: #dedede;
  --c-neutral-mid-light: #a9a9a9;
  --c-neutral-mid-dark: #545454;
  --c-neutral-dark: #333;
  --c-shadow: #d0b78f;
  --border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: var(--f-default);
  color: var(--c-neutral-dark);
  line-height: 1.45;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.9rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1024px;
}

/* Header */
.header {
  width: 100%;
  background-color: var(--c-neutral-dark);
  color: var(--c-neutral-light);
  font-family: var(--f-special);
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header logo */
.header-logo {
  flex: 1;
}

.header-logo-image {
  height: 200px;
  width: 200px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--c-neutral-dark);
  background-image: url('../assets/images/beer-img.png');
}

/* Header welcome */
.header-welcome {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  margin-left: 100px;
}

.header-welcome__title {
  text-shadow: 2px 2px var(--c-accent);
}

/* Header welcome navigation - general */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-inner {
  max-width: 800px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-inner-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  width: 0;
  overflow: hidden; 
  transition: .3s ease-in-out;
}

.nav-inner-items__link {
  font-size: 2rem;
  margin-right: 15px;
  color: var(--c-neutral-light);
  text-decoration: none;
}

.nav-inner-items__link:hover {
  text-decoration-color: var(--c-secondary);
  text-decoration-line: underline;
}

/* Header welcome navigation - hamburger menu with animation */
.nav-inner-toggler {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transform: rotate(0deg);
  margin-left: 30px;
}
 
.nav-inner-toggler__bar {
  display: block;
  position: absolute;
  height: 8px;
  margin-top: 3px;
  width: 100%;
  background-color: var(--c-main);
  border-radius: 3px;
  left: 0;
  transition: .2s ease-in-out;
}

.nav-inner-toggler__bar:nth-child(1) {
  top: 0px;
}

.nav-inner-toggler__bar:nth-child(2) {
  top: 18px;
}

.nav-inner-toggler__bar:nth-child(3) {
  top: 36px;
}

.nav-inner.active .nav-inner-items {
  width: 100%;
}

.nav-inner-toggler.open .nav-inner-toggler__bar:nth-child(1) {
  top: 18px;
  transform: rotate(135deg);
}

.nav-inner-toggler.open .nav-inner-toggler__bar:nth-child(2) {
  opacity: 0;
}

.nav-inner-toggler.open .nav-inner-toggler__bar:nth-child(3) {
  top: 18px;
  transform: rotate(-135deg);
}

/* Header media queries */
@media (max-width: 1200px) {
  .header-wrapper {
    flex-direction: column;
  }
  .header-welcome {
    margin-left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav {
    flex-direction: column;
  }
  .nav__title {
    margin: 10px 0;
    text-align: center;
  }
  .nav-inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-inner-toggler {
    margin: 20px 0;
  }
  .nav-inner-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 0;
  }
  .nav-inner-items__link {
    font-size: 2.2rem;
    margin: 5px 0;
  }
  .nav-inner.active .nav-inner-items {
    height: 100%;
  }
}

/* Slider section */
.slider {
  width: 100%;
}

.slide {
  width: 100%;
  height: 500px;
  background-color: lightgray;
}

.is-hidden {
  display: none;
}

.slider__item-1 {
  background-image: url("./images/slide-img-1.jpg");
  background-position: center center;
  background-size: cover;
}

.slider__item-2 {
  background-image: url("./images/slide-img-2.jpg");
  background-position: center center;
  background-size: cover;
}

.slider__item-3 {
  background-image: url("./images/slide-img-3.jpg");
  background-position: center center;
  background-size: cover;
}

.slider__item-content {}

.slider__item-title {}

.slider__item-subtitle {}

.slider__item-description {}

.search-type {
  list-style-type: none;
  margin: 20px 0;
  display: flex;
}

.search-type__box {
  pointer-events: none;
  opacity: 0.5;
  display: block;
  width: 100%;
  margin-left: 25px;
}

.search-type__radio {
  height: 20px;
  width: 20px;
  position: relative;
  margin-top: 5px;
}

.search-type__radio:after {
  position: absolute;
  content: "";
  top: -2px;
  left: -2px;
  background-color: #fff;
  border: 2px solid var(--c-main);
  height: 24px;
  width: 24px;
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 1;
}

.search-type__radio:checked::before {
  position: absolute;
  content: "";
  top: 3px;
  left: 3px;
  background-color: var(--c-main);
  height: 14px;
  width: 14px;
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 2;
}

.search-type__radio:checked ~ .search-type__box {
  pointer-events: auto;
  opacity: 1;
}

.search-results__item {
  display: flex;
  flex-direction: row;
  margin: 10px 0; 
  list-style-type: none;
  border: 3px solid var(--c-accent);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.search-results__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 25%;
  box-sizing: border-box;
  padding: 10px 20px;
  background-color: var(--c-main);
}

.search-results__img {
  max-width: 100%;
}

.search-results__properties {
  padding: 20px;
  flex-basis: 75%;
}

.search-results__title {
  display: inline-block;
  border-bottom: 3px solid var(--c-secondary);
  padding: 0 30px 5px 3px;
  margin-bottom: 10px;
  text-shadow: -2px 2px 1px var(--c-shadow);
}

.search-results__tagline {
  color: var(--c-secondary);
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.search-results__description {
  font-size: 1.4rem;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.search-results__abv, .search-results__ibu {
  display: inline-block;
  color: var(--c-secondary);
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.search-results__abv {
  margin-right: 65px;
}

.search-results__food {
  padding: 15px 20px;
  background-color: var(--c-accent);
  color: #fff;
  border-radius: var(--border-radius);
}

.search-results__food-title {
  font-size: 1.3rem;
  display: inline-block;
  position: relative;
  border-bottom: 2px solid #ffff;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.search-results__food-list {
  margin-left: 20px;
}

.search-results__food-list-item {
  font-size: 1.3rem;
}

@media (min-width: 500px) {  
  .search-results__img-wrapper {
    width: 220px;
  }
  
  .search-results__img {
    max-width: 50%;
  }
}

@media (min-width: 760px) {
  .search-results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .search-results__item {
    margin: 10px 0;
    width: 49%;
  }
}

/* Footer */
.footer {
  background-color: var(--c-neutral-dark);
  color: var(--c-neutral-light);
  width: 100%;
  padding: 20px 0;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.footer-about__message, .footer-media__message {
  margin-bottom: 2px;
  font-size: 1.8rem;
}

/* Footer about */
.footer-about-links {
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--f-special);
  margin: 20px 0;
}

.footer-about__link {
  margin-right: 15px;
  text-decoration: underline;
  text-decoration-color: var(--c-main);
  color:  var(--c-neutral-light);
}

.footer-about__link:hover {
  color: var(--c-secondary);
}

.footer-about__message span {
  color: var(--c-secondary);
}

.footer-about__icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: var(--c-light);
  border: 2px solid var(--c-main);
  border-radius: 3px;
  font-size: 14px;
  color:  var(--c-neutral-light);
  text-align: center;
  line-height: 25px;
  margin-left: 3px;
}

/* Footer media */
.footer-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 3px solid var(--c-neutral-light);
  padding-left: 30px;
}
.footer-media__message {
  font-size: 1.6rem;
  font-weight: 700;
  font-family: var(--f-special);
  margin: 20px 0;
}

.footer-media__icon  {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 3px;
  border: 3px solid var(--c-main);
  border-radius: 3px;
  font-size: 20px;
  color:  var(--c-neutral-light);
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
}

.footer-media__icon:hover {
  transform: scale(1.1);
  border-color: var(--c-secondary);
}

/* Footer media queries */
@media (max-width: 600px) {
  .footer {
    padding: 5px 0;
  }

  .footer .container {
    flex-direction: column;
  }

  .footer-about {
    margin: 10px auto;
  }

  .footer-about-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    margin: 10px 0;
    font-size: 2rem;
  }

  .footer-about__link {
    margin: 4px 0;
  }

  .footer-media {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: none;
    border-top: 3px solid var(--c-neutral-light);
    padding: 30px 0;
    align-items: center;
    }
}
